:root {
	--background: #f8f5f5;
	--text-primary: #080219;
	--text-secondary: #8c8796;
	--accent-primary: #5e00ff;
	--accent-secondary: #e7d4ff;
	--accent-pink: #f80780;
	--neutral-light: #efefef;
	--neutral-dark: #d9d9d9;
	--neutral-darker: #b9b4c4;
}

body {
	margin: 0;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-color: var(--background);
	color: var(--text-primary);
	overscroll-behavior-x: contain;
	overflow-x: hidden;
}
